.text_background {
    position: relative;
    .background {
        width: 100%;
        height: 340px;

        margin-bottom: 20px;
        margin-top: 20px;
        img {
            border-radius: 30px;
        }
    }
    .text_color_grey {
        .ant-input {
            &::placeholder {
                color: #94a3b8;
            }
        }
    }
    .text_color_white {
        display: flex;
        align-items: center;
        .ant-input {
            color: #ffffff;
            text-align: center;
            &::placeholder {
                color: #ffffff;
                font-size: 30px;
            }
        }
    }
    .text_area {
        position: absolute;
        top: 0;
        width: 100%;
        height: 340px;
        .ant-form {
            width: 100%;
            .ant-input {
                background: none;
                border: none;
                box-shadow: none;
                font-size: 22px;
            }
        }
    }
}
