.Search_card {
    width: 803px;
    height: 168px;
    background-color: #fbfbfb;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    align-items: center;
    .Search_text {
        display: flex;
        .image {
            width: 60px;
            height: 60px;
        }
        .text {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .heading {
                font-size: 14px;
                font-weight: 600;
                color: #1e293b;
            }
            .freind_btn {
                font-size: 8px;
                background: rgba(254, 94, 113, 1);
                color: rgba(255, 255, 255, 1);
                padding: 2px 5px 0 5px;
                border-radius: 3px;
            }
            .color_text {
                color: rgba(79, 79, 79, 1);
            }
        }
    }
    .selected {
        .people_icon {
            circle {
                fill: url(#paint0_linear_2563:28981);
            }
        }

        .place_icon {
            background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);

            path {
                fill: #ffffff;
            }
        }
        .event_icon {
            background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);

            path {
                fill: #ffffff;
            }
        }
    }
}
