.main_commonHeading {
    margin-top: 35px;
    .text {
        padding-left: 10px;
        .text_one {
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            // padding-left: 10px;
        }
        .text_two {
            color: #bfbfbf;
            // padding-left: 10px;
        }
    }
}
