.auto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: red !important;
        box-shadow: unset;
        z-index: 1050;
    }
    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: red;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        width: 621px;
        height: 53px;
        border-radius: 16px;
        background: #f4f4f4;
        // border: #f4f4f4;

        .ant-select-selection-search-input {
            font-size: 16px;
            height: 53px;
        }
        .ant-select-selection-placeholder {
            display: flex;
            align-items: center;
            height: 53px;
            font-size: 16px;
            color: #4f4f4f;
        }
    }
}

.ant-select-dropdown {
    border: 1px solid red !important;
    border-radius: 16px !important;
    // border-image: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%) 1 !important;
    .ant-select-item-group {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        font-size: 15px;
        font-weight: 600;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.hide {
    display: none;
}
.show {
    display: block !important;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(10px);
}
