.post-main {
    // display: flex;
    // width: 100%;
    max-width: 580px;
    border-bottom: 0.001em solid #eaeaea;

    padding-bottom: 42px;
    // height: 504px;
    // width: 100px;
    // height: 100px;
    .profile-main {
        display: flex;
        max-width: 580px;
        max-height: 60px;
        justify-content: space-between;
        // justify-content: center;
        align-items: center;
        padding-right: 22px;
        .profile-image {
            display: flex;
            .post-profile {
                max-width: 45px;
                max-height: 45px;
                border: 3px solid #bfbfbf;
                border-radius: 10px;
                margin: 0px 10px;
                display: flex;
                justify-content: center;
            }
            .post-profile-color {
                max-width: 45px;
                max-height: 45px;
                border: 3px solid #fe5e71;

                border-radius: 10px;
                margin: 0px 10px;
                display: flex;
                justify-content: center;
            }
            .name {
                display: flex;
                justify-content: center;
                // align-items: center;
                flex-direction: column;
                p {
                    color: #bfbfbf;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        .dot {
            max-width: 30px;
            max-height: 30px;
        }
    }
    .bottom {
        display: flex;

        .heart {
            display: flex;
            align-items: center;
            .heartIcon {
                display: flex;
                // justify-content: center;
                // align-items: center;
                max-width: 24px;
                max-height: 24px;
            }

            p {
                color: #bfbfbf;
                margin: 0px 5px;
            }
        }
        .views {
            display: flex;
            align-items: center;
            margin-left: 24px;
            .viewsIcon {
                display: flex;
                // justify-content: center;
                // align-items: center;
                max-width: 24px;
                max-height: 24px;
            }
            p {
                color: #bfbfbf;
                margin: 0px 5px;
            }
        }
    }
}
