.Create_content {
    width: 100%;

    .slick-slide {
        width: 100px !important;
        .back_image {
            cursor: pointer;
        }
    }

    .add_post {
        height: 60px;
        border: 1px solid #bfbfbf;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        margin-top: 5px;
        .text {
            font-size: 18px;
            font-weight: 500;
            color: #000000;
        }
    }
}
