.Otp_main {
    margin-top: 20px;

    .box {
        width: 70% !important;
        height: 70px;
        border-radius: 16px;
        background: #f8f8f8;
        border: none;
        font-size: 20px;
    }
}
