.searchBar {
    display: flex;
    justify-content: center;
    .ant-input-affix-wrapper {
        width: 30%;
        border-radius: 12px;
        height: 40px;
        background: #f4f4f4;
    }

    .ant-input {
        background: #f4f4f4;
        &::placeholder {
            color: #4f4f4f;
        }
    }
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        -webkit-box-shadow: 0 0 0 1px #f9445b;
        box-shadow: 0 0 0 1px #f9445b;
        border-color: #f9445b;
    }
    .ant-input-affix-wrapper:hover {
        border-color: #f9445b !important;
    }
    .ant-input-prefix {
        width: 30px;
    }
}
