.mobile_stories_main {
    display: none;
}
@media screen and (max-width: 576px) {
    .mobile_stories_main {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
    }
}
