.event_image {
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    background-size: cover;
    margin-bottom: 10px;
    .footer {
        width: 100%;

        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(30px);
        display: flex;
        border-radius: 0 0 17px 17px;
    }
}
