.next {
    .btn {
        margin-top: 20px;
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        width: 100px;
        border-radius: 8px;
        border: none;
    }
}

.back {
    .btn {
        margin-top: 20px;
        background: #e8e8e8;
        width: 100px;
        border-radius: 8px;
        border: none;

        color: #575757;
        &:hover {
            background-color: #d9d9d9;
            color: #575757;
        }
        &:focus {
            background-color: #e8e8e8;
            color: #575757;
        }
    }
    .btn-primary:disabled {
        background: #e8e8e8;
    }
}

.post {
    .btn {
        width: 100%;
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border-radius: 8px;
        border: none;
        margin-top: 20px;
        height: 40px;
        margin-bottom: 10px;
    }
}
.event_button {
    .btn {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        border: none;
        border-radius: 5px;
        margin-left: 6px;
        width: 100px;
        height: 30px;
        font-size: 14px;
        padding: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.article {
    .btn {
        height: 45px;
        margin-bottom: 10px;
    }
}
.projectCover {
    .btn {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        border-radius: 9px;
        border: none;
        font-size: 12px;
        width: 100px;
    }
}
.publish_button {
    .btn {
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border-radius: 9px;
        border: none;
        margin-bottom: 10px;
    }
}
.event_but {
    .btn {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        color: #ffffff;
        margin-left: 10px;
        width: 119px;
        height: 31px;
        border-radius: 9px;
        border: none;
        font-size: 12px;
    }
}

.continue {
    .btn {
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border: none;
        height: 50px;
        font-weight: bold;
        border-radius: 16px;
        width: 100%;
        margin-top: 30px;
    }
}
.interest {
    .btn {
        width: 150px;
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border-radius: 5px;
        border: none;
        height: 64px;
    }
}
.next_profile {
    .btn {
        width: 100%;
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border-radius: 5px;
        border: none;
        height: 50px;
    }
}
.Skip_profile {
    .btn {
        width: 100%;
        background: linear-gradient(90deg, #6dd7a4 0%, #3ec684 100%);
        border-radius: 5px;
        border: none;
        height: 50px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            background: #f2f2f2;
            -webkit-text-fill-color: lightgreen;
        }
    }
}
.inviteBut {
    .btn {
        width: 100%;
        background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        border-radius: 5px;
        border: none;
        height: 50px;
    }
}
