.searchBarHomeDashboard {
    width: 205px;
    // width: 100%;
    padding-left: 16px;
    display: flex;

    align-items: center;
    background: #f4f4f4;
    border-radius: 16px;
    margin-left: 16px;
    p {
        margin-top: 11px;
        color: #4f4f4f;
    }
    .search {
        circle {
            stroke: #4f4f4f;
        }
        path {
            stroke: #4f4f4f;
        }
    }
}
.hidethis {
    display: none;
}
@media screen and (max-width: 1812px) {
    .searchBarHomeDashboard {
        padding-left: 10px;
        width: 180px;
    }
}

@media screen and (max-width: 1723px) {
    .searchBarHomeDashboard {
        padding-left: 10px;
        width: 155px;
    }
}
@media screen and (max-width: 1678px) {
    .searchBarHomeDashboard {
        margin-left: 10px;
        padding-left: 10px;
        width: 170px;
    }
}
@media screen and (max-width: 1584px) {
    .searchBarHomeDashboard {
        display: none;
    }
}
