.topBar_main {
    display: none !important;
}
@media screen and (max-width: 576px) {
    .topBar_main {
        display: flex !important;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 20px;
        width: 100%;
    }
}
