.topBar_main {
    display: none !important;

    // display: flex;
    // justify-content: space-between;
    // padding: 0 20px;
    // align-items: center;
}
@media screen and (max-width: 576px) {
    .topBar_main {
        display: flex !important;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 20px;
        width: 100%;
        // height: 40px;
    }
}
