.grey {
    min-width: 55px;
    min-height: 55px;
    border: 3px solid #bfbfbf;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    img {
        border-radius: 10px;
    }
}
.pink {
    min-width: 55px;
    min-height: 55px;
    border: 3px solid #fe5e71;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    img {
        border-radius: 10px;
    }
}
.popOverAvater {
    border: 3px solid #fe5e71;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    img {
        width: 40px;
        height: 40px;
    }
}
.story {
    img {
        width: 40px;
        height: 40px;
    }
}
.storyProfile {
    img {
        width: 60px;
        height: 60px;
    }
}
.img {
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}
.CreatePostProfile {
    img {
        width: 70px;
        height: 70px;
    }
}
