.Drop {
    p {
        margin: 0;
        font-size: 12px;
        color: #4f4f4f;
        span {
            padding: 5px;
        }
    }
}
.filter {
    padding-left: 10px;
    p {
        margin: 0;
        font-size: 15px;
        color: #4f4f4f;
        font-weight: 500;
        span {
            padding: 5px;
        }
    }
}
