.see_button {
    .btn {
        margin-top: 50px;
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        width: 809px;
        height: 49px;
        border-radius: 12px;
        border: none;
        font-weight: 600;
        margin-bottom: 20px;
        &:hover {
            font-size: 14px;
        }
    }
}
.group {
    .btn {
        margin-top: 20px;
        width: 100%;
        height: 36px;
        border-radius: 7px;
        font-size: 14px;
        &:hover {
            font-size: 12px !important;
        }
    }
}
