.see_button {
    .btn {
        margin-top: 50px;
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
        width: 809px;
        height: 49px;
        border-radius: 12px;
        border: none;
        font-weight: 600;
    }
    // .btn-primary {
    //     border: none;
    // }
}
