.location {
    p {
        font-size: 17px;
        color: #585858;
        margin-top: 25px;
    }
    .auto_location {
        .location_text {
            color: rgba(0, 0, 0, 0.89) !important;
        }
        .text {
            margin: 5px;
            color: rgba(79, 79, 79, 0.43);
            font-size: 14px;
        }
        .loacation_field {
            position: relative;
            .ant-select {
                margin-bottom: 50px;
                .ant-select-selector {
                    border-radius: 8px;
                    input {
                        margin-left: 20px;
                        font-size: 15px;
                    }
                    .ant-select-selection-placeholder {
                        margin-left: 20px;
                        font-size: 15px;
                    }
                }
                &:hover {
                    .ant-select-selector {
                        border-color: #f9445b !important;
                    }
                }
            }
            .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
                .ant-select-selector {
                border-color: #f9445b;
                box-shadow: unset;
            }
            .location_image {
                position: absolute;
                top: 0;
                padding: 6px;
            }
        }
    }
}

.autocomplete_location {
    border-radius: 8px !important;
    margin-top: 30px !important;
    .ant-select-item {
        padding: unset;
    }
}
