.ShowTrending {
    .heading {
        p {
            font-weight: 600;
            font-size: 16px;
            color: #010010;

            opacity: 0.5;
        }
    }
    .trend_scroll {
        overflow: auto;
        height: 450px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
