.story_main {
    width: 89px;
    height: 120px;
    // width: 100%;
    box-shadow: 0px 4px 6px 0px #0000002e;
    margin-left: 10px;
    // background-size: cover;
    // border: 1px solid black;
    // padding:152px 75px 0 75px
    transition: transform 0.3s;
    background-position: top;
    border-radius: 16px;
    position: relative;
    cursor: pointer;

    &:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%),
    //     linear-gradient(0deg, rgba(110, 194, 255, 0.57), rgba(110, 194, 255, 0.57));

    .profile {
        position: absolute;
        border-radius: 10px;
        width: 45px;
        height: 45px;
        top: 12px;
        left: 10px;
    }
    .name {
        p {
            width: 27px;
            // height: 22px;
            position: absolute;
            color: #ffffff;
            top: 88px;
            left: 12px;
            font-size: 10px;
            line-height: 16px;
            font-weight: 600;
            text-shadow: 3px 3px 9px black;
            line-height: 11px;
        }
    }
}
@media screen and (max-width: 1264px) {
    .hide5 {
        display: none !important;
    }
    // .story_main {
    //     width: 105px !important;
    //     height: 150px !important;
    // }
}
// @media screen and (max-width: 1221px) {
//     .hide4 {
//         // display: none !important;
//     }
//     // .story_main {
//     //     width: 135px !important;
//     //     height: 170px !important;
//     // }
// }
@media screen and (max-width: 1221px) {
    .hide3 {
        display: none !important;
    }
    // .story_main {
    //     width: 135px !important;
    //     height: 170px !important;
    // }
}
@media screen and (max-width: 1221px) {
    .hide3 {
        display: none !important;
    }
    // .story_main {
    //     width: 135px !important;
    //     height: 170px !important;
    // }
}
@media screen and (max-width: 1440px) {
    .hide5 {
        display: none !important;
    }
    // .story_main {
    //     width: 135px !important;
    //     height: 170px !important;
    // }
}
// @media screen and (max-width: 1192px) {
//     .hide3 {
//         display: none !important;
//     }
//     .story_main {
//         width: 150px !important;
//         height: 200px !important;
//     }
// }
