.Search_tabs_main {
    .ant-tabs {
        .ant-tabs-content-holder {
            overflow: auto;
            max-height: 818px;
            &::-webkit-scrollbar {
                display: none;
            }
            .map_card {
                margin-top: 12px;
            }
            .ant-tabs-tabpane {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        .ant-tabs-nav {
            &::before {
                border-color: rgba(0, 0, 0, 0.19);
            }
            .ant-tabs-nav-wrap {
                justify-content: center;
                .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: unset;
                }
                .ant-tabs-tab {
                    padding-bottom: 20px;
                    margin: 0;
                    &:hover {
                        color: unset;
                    }
                }
                .ant-tabs-ink-bar {
                    display: none;
                }
            }
            .ant-tabs-tab {
                margin-bottom: 10px;
            }
            .ant-tabs-tab-active {
                .btn {
                    background: linear-gradient(
                        93.15deg,
                        rgb(199, 83, 154) -11.17%,
                        rgb(251, 62, 120) 48.61%,
                        #ff5369 96.45%
                    );
                    color: #ffffff;
                    box-shadow: rgba(199, 83, 154, 0.45) 0px 25px 20px -20px;
                    border-radius: 0;
                    &:focus {
                        box-shadow: rgba(251, 62, 120, 0.45) 0px 25px 20px -20px !important;
                    }
                }
                .first {
                    border-radius: 8px 0px 0px 8px !important;
                }
                .last {
                    border-radius: 0px 8px 8px 0px !important;
                }
            }

            .first {
                border-radius: 8px 0px 0px 8px;
            }
            .last {
                border-radius: 0px 8px 8px 0px;
            }
            .btn:hover {
                background: linear-gradient(93.15deg, #c7539a -11.17%, rgb(251, 62, 120) 48.61%, #ff5369 96.45%);
                color: #ffffff;
            }
            .but {
                border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
                border-radius: 0;
            }
            .btn {
                background: #f0eff0;
                color: rgba(79, 79, 79, 1);
                width: 119px;
                height: 31px;
                border: none;
                // border-radius: 0;
                font-size: 12px;
                box-shadow: rgba(199, 83, 154, 0.45) 0px 25px 20px -20px !important;
            }
        }
    }
}
