.trendingPost {
    border-bottom: 0.001em solid #eaeaea;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    &:hover {
        background: #f2f2f2;
        border-radius: 20px;
        transition: 0.5s;
    }
    .small_head {
        font-weight: bold;
        font-size: 15px;
        color: #000000;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            p {
                color: #1e293b;
                font-size: 14px;
                margin: 0;
                margin-left: 17px;
            }
        }
    }
    .view_name {
        margin-top: 19px;
        p {
            font-size: 12px;
            color: #838383;
        }
        // width: 40%;

        // }
        // .icon {
        // display: flex;
    }
}
