.parent {
    .event_image {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 440px;
        border-radius: 20px 20px 20px 20px;
        margin-top: 20px;
        background-size: cover;
    }
    .footer {
        width: 100%;
        height: 85px;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(30px);
        display: flex;
        border-radius: 0 0 17px 17px;
        .calender {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .date_box {
                width: 50px;
                .month {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
                    height: 18px;
                    border-radius: 4px 4px 0 0;
                    span {
                        font-size: 10px;
                        color: #ffffff;
                        font-weight: 600;
                    }
                }
                .date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    background: #ffffff;
                    border-radius: 0 0 2px 2px;
                    span {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
            .date_name {
                margin-left: 10px;
                .event_name {
                    font-weight: 600;
                    color: #212121;
                    font-size: 12px;
                }
                p {
                    margin: unset;
                    font-size: 10px;
                }
            }
        }
        .button_site {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .about {
        color: #010010;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 3px;
        margin-top: 20px;
    }
    .about_text {
        font-size: 12px;
    }
    .about_details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .left_site {
            width: 48%;
            border: 1px dashed #bfbfbf;
            border-radius: 20px;
            padding: 40px;
            .detail_heading {
                font-weight: 500;
                font-size: 20px;
                color: #010010;
                margin-left: 20px;
            }
            .flex {
                display: flex;
                align-items: center;
                margin-top: 12px;
                p {
                    margin: 0;
                    margin-left: 10px;
                }
            }
        }
        .right_site {
            width: 48%;
            // display: flex;
            border: 1px dashed #bfbfbf;
            border-radius: 20px;
            padding: 40px;
            .detail_heading {
                font-weight: 500;
                font-size: 20px;
                color: #010010;
                margin-left: 20px;
            }
            .guest_site {
                display: flex;
                justify-content: space-around;
                .flex_two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .map {
        width: 100%;
        height: 255px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        border-radius: 20px;
        margin-top: 30px;
        .map_footer {
            width: 100%;
            height: 65px;
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(30px);
            display: flex;
            border-radius: 0 0 17px 17px;
            p {
                margin-left: 50px;
                margin-top: 20px;
                color: #212121;
                font-size: 17px;
            }
        }
    }
}
