.icon {
    width: 40px;
    height: 40px;
    margin: 0px 4px 0 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout {
    svg {
        fill: #bfbfbf;
    }
}

.toggel_main {
    .toggel {
        width: 162px;
        border: 1px solid #bfbfbf;
        border-radius: 30px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .same {
            transition: all 0.2s ease-in;
            width: 76px;
            height: 50px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .homewow {
            background: #fe5e71;
            path {
                fill: white;
                stroke: #fe5e71;
                stroke-width: 0px;
            }
        }
        .search {
            background: #f2bd6f;
            svg {
                fill: white;
            }
        }
    }
    .text {
        display: flex;
        justify-content: space-around;
        color: #bfbfbf;
        .text_color_trending {
            transition: all 0.2s ease-in;
            color: #fe5e71;
        }
        .text_color_explore {
            transition: all 0.2s ease-in;
            color: #f2bd6f;
        }
    }
}

.profile {
    img {
        border-radius: 8px;
    }
}
