.small_requestCard_main {
    max-width: 140px;
    max-height: 254px;
    margin-bottom: 20px;

    .contant {
        .text_ellips {
            height: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .name {
            color: #010010;

            font-weight: 600;
            font-size: 15px;
            margin-bottom: -9px;
        }

        .mutual {
            position: relative;
            width: 100%;
            height: 50px;

            .image1 {
                position: absolute;
                top: 0;
                left: -15px;
                z-index: 3;
            }
            .image2 {
                position: absolute;
                top: 0;
                left: 0px;
                z-index: 2;
            }
            .image3 {
                position: absolute;
                top: 0;
                left: 18px;
                z-index: 1;
            }
        }
        .mutual_friends {
            color: #bfbfbf;
            font-weight: 500;
            font-size: 8px;

            position: absolute;
            top: 22px;
            left: 65px;
        }
    }

    .closeFriend {
        .btn-primary {
            background: linear-gradient(93.15deg, #1a83cf -11.17%, #5fb5f4 48.61%, #2da6ff 96.45%);
            box-shadow: rgba(52, 113, 243, 0.45) 0px 5px 20px;
            &:focus {
                box-shadow: rgba(52, 113, 243, 0.45) 0px 5px 20px !important;
            }
        }
    }
    .family {
        .btn-primary {
            background: linear-gradient(90deg, #6dd7a4 0%, rgb(62, 198, 132) 100%);
            box-shadow: rgba(41, 148, 5, 0.45) 0px 5px 20px;
            &:focus {
                box-shadow: rgba(41, 148, 5, 0.45) 0px 5px 20px !important;
            }
        }
    }
    .alluser {
        .btn-primary {
            background: linear-gradient(90deg, #ef843b 0%, #ffa567 100%);
            box-shadow: rgba(232, 154, 9, 0.45) 0px 25px 20px -20px;
            &:focus {
                box-shadow: rgba(232, 154, 9, 0.45) 0px 25px 20px -20px !important;
            }
        }
    }
    .unSelected {
        .btn-primary {
            background: #bfbfbf;
        }
    }
    .btn-primary {
        border-radius: 12px;
        width: 100%;
        height: 36px;
        font-weight: 600;
        font-size: 12px;
        border: unset;
        color: #ffffff;
        &:hover {
            font-size: 14px;
        }

        p {
            margin: unset;
        }
    }
}
