.small_requestCard_main {
    max-width: 140px;
    max-height: 254px;
    // border: 1px solid #e9e8e8;
    // border-radius: 20px;
    // padding: 8px 8px 8px 8px;

    .contant {
        .name {
            color: #010010;

            font-weight: 600;
            font-size: 16px;
            margin-bottom: -9px;
        }
        // .mutual_main {
        //     width: 100%;

        // display: flex;

        .mutual {
            position: relative;
            width: 100%;
            height: 50px;
            // height: 100px;

            .image1 {
                position: absolute;
                top: 0;
                left: -15px;
                z-index: 3;
            }
            .image2 {
                position: absolute;
                top: 0;
                left: 0px;
                z-index: 2;
            }
            .image3 {
                position: absolute;
                top: 0;
                left: 18px;
                z-index: 1;
            }
        }
        .mutual_friends {
            color: #bfbfbf;
            font-weight: 500;
            font-size: 8px;
            // margin-left: 80px;
            width: 100%;
            position: absolute;
            top: 22px;
            left: 65px;
        }
        // }
    }

    // .freind_request {
    //     .btn-primary {
    //         background: #c39eff;
    //         color: #ffffff;

    //         margin-top: 20px;
    //     }
    // }
    // .all_freinds {
    //     .btn-primary {
    //         background: linear-gradient(91.59deg, #ff8452 -0.78%, #ed8438 99.22%);

    //         color: #ffffff;

    //         margin-top: 20px;
    //     }
    // }
    // .close_friends {
    //     .btn-primary {
    //         background: #6ec2ff;

    //         color: #ffffff;

    //         // margin-top: 20px;
    //     }
    // }
    // .family {
    //     .btn-primary {
    //         background: linear-gradient(90deg, #6dd7a4 0%, #3ec684 100%);
    //         color: #ffffff;

    //         margin-top: 20px;
    //     }
    // }
    // .reject {
    //     .btn-primary {
    //         color: #010010;
    //         background: white;

    //         margin-top: 5px;
    //     }
    // }
    .selected {
        .btn-primary {
            background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);

            // margin-top: 20px;
        }
    }
    .unSelected {
        .btn-primary {
            background: #bfbfbf;
        }
    }
    button {
        border-radius: 12px;
        width: 100%;
        height: 36px;
        font-weight: 600;
        font-size: 12px;
        border: unset;
        color: #ffffff;
        // margin-top: 20px;
        p {
            margin: unset;
        }
    }
}
