.trend_button {
    .button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: unset;
        background: #f7f7f7;

        margin-bottom: 8px;
        &:hover {
            background: #e6e6e6;

            transition: 0.5s;
        }
        &:focus {
            background: #f7f7f7;
        }
        p {
            font-weight: 600;
            color: #111111;

            font-size: 14px;
            margin: 0px;
        }
        .post_ranking {
            font-size: 9px;
        }
    }
    .see_more {
        display: flex;
        justify-content: center;
    }
}
