.story_profile_main {
    width: 100%;
    display: flex;
    justify-content: center;
    .story_profile {
        width: 65%;
        display: flex;
        // .image {
        //     width: 100%;
        // }
        .contant {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin: 0;
            }
            .name {
                color: #ffffff;
                font-weight: 600;
                font-size: 16px;
            }
            .time {
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
}
