.switch {
    display: flex;
    // align-items: center;
    p {
        margin: 0;
        font-size: 12px;
        color: #4f4f4f;
    }
    .ant-switch {
        // width: 37px;
        // height: 19px;
        background: rgba(223, 223, 223, 1);
        // .ant-switch-handle {
        // width: 14px;
        // height: 14px;
        // }
    }
    .ant-switch-checked {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%) !important;
    }
}

.ant-switch-checked {
    &:focus {
        box-shadow: none !important;
    }
}
[aria-hidden="true"] {
    box-shadow: none !important;
}
