.switch {
    display: flex;
    p {
        margin: 0;
        font-size: 12px;
        color: #4f4f4f;
    }
    .ant-switch {
        background: rgba(223, 223, 223, 1);
    }
    .ant-switch-checked {
        background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%) !important;
    }
}
