.layout {
    min-height: 100vh !important;
    // background: #ffffff !important;
    background: white !important;
    .ant-layout {
        background: white;

        // display: flex;
    }
    .menu-scroll {
        position: relative;
    }
    .slider {
        background: none;
        background: white;
        // background: #fbfbfb;
        margin-left: 30px;
        // display: flex !important;
        // align-items: center;
        // justify-content: center;
        position: fixed;
        top: 266px;

        .menu {
            background: #fbfbfb !important;
            border-radius: 16px;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            // text-align: center;
            // margin-left: 30px;
            // width: 100px !important;
            width: 202px;
            // position: fixed;

            // flex-direction: column;

            // margin: 0 auto;
            // align-items: center;
            // .search {
            // widows: 300px;
            // height: 48px;
            // background: #ffffff;
            // border-radius: 12px;
            // padding: 4px 0px;
            // }
            .profile {
                img {
                    // border: 1px solid #f7f7f7;
                    border-radius: 8px;
                }
            }
        }
        .logo {
            position: fixed;
            top: 32px;
            left: 36px;
        }
    }
    .ant-menu-item-selected {
        // background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        background: none !important;
        .home {
            background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
        }
        .message {
            background: #6ec2ff;
        }
        .group {
            background: linear-gradient(90deg, #6dd7a4 0%, #3ec684 100%);
        }
        .location {
            background: #ffa2b9;
        }
        .notification {
            background: #c39eff;
        }
        .setting {
            background: #f2bd6f;
        }
        .profile {
            img {
                border: 2px solid #ed8439 !important;
                box-shadow: 0px 0px 4px #ed8439;
                border-radius: 8px;
            }
        }

        .ant-menu-title-content {
            color: #010010;
        }
    }
    .ant-menu-title-content {
        color: #bfbfbf;
    }
    .ant-menu-item {
        // position: fixed !important;
        // display: flex;
        // flex-direction: column;
        padding: 0 0 0 20px !important;
        margin: 20px 0 20px 0px !important;
    }

    // .ant-layout-sider-children {
    // display: flex;
    // align-items: center;
    // position: fixed;
    // justify-content: center;
    // flex-direction: column;
    // overflow: hidden;
    // }
    .ant-layout-sider-trigger {
        display: none;
    }
    // .ant-menu {
    //     background: rgba(251, 251, 251, 1);
    // }
    .container {
        margin: 0 auto;
        max-width: 1158px;
        // min-height: 964px;
        margin-top: 30px;
        // background: #ffffff !important;
        // overflow: auto;
        // min-width: 1280px;
        .page {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 20px;
            // background: #ffffff;

            // display: flex;
            // justify-content:center;
            overflow: scroll;

            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
            // padding:152px  ;
            display: flex;
            &::-webkit-scrollbar {
                display: none;
            }
            .left-side {
                // position: fixed;
                // top: 20px;

                // left: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content:space-between;
                padding: 40px 80px 30px;
                width: 60%;
                // height: 964px;
                .toggel {
                    margin: 0 0 32px 0;
                }
                .status {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 580px;
                    height: 140px;
                }
                .post {
                    margin-top: 30px;
                }
            }
            .right-side {
                width: 40%;
                // position: fixed;
                // right: 0px;
                position: relative;
                // padding: 40px 80px 30px;
                .scroll {
                    position: fixed;
                    top: 30px;
                }

                .request {
                    width: 360px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 34px;
                    p {
                        color: rgba(1, 0, 16, 1);
                        opacity: 0.5;
                    }
                    .circle {
                        background: linear-gradient(90deg, #6dd7a4 0%, #3ec684 100%);
                        width: 24px;
                        height: 24px;
                        -moz-border-radius: 50px;
                        -webkit-border-radius: 50px;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                    }
                }
            }
        }
    }
}
