.displaye {
    transition: width 2s !important;
    width: 230px;
    height: 50px;
    background: linear-gradient(93.15deg, #c7539a -11.17%, #fb3e78 48.61%, #ff5369 96.45%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
