@import "./tools/mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus {
  // outline: pink !important;
  border-color: #f9445b !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
button:focus {
  border-color: #f9445b !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
