.Search_tabs_main {
    .ant-tabs {
        .ant-tabs-content-holder {
            overflow: auto;
            // max-height: 70vh;
            max-height: calc(100vh - 222px);

            &::-webkit-scrollbar {
                display: none;
            }
            .map_card {
                margin-top: 12px;
            }
            .ant-tabs-tabpane {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        .ant-tabs-nav {
            margin: 0;
            .ant-tabs-extra-content {
                margin-right: 30px;
                margin-bottom: 30px;
                .btn {
                    background-color: unset;
                    color: #4f4f4f;
                    font-weight: 500;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    span {
                        svg {
                            width: 12px;
                            height: 15px;
                            margin-left: 5px;
                        }
                    }

                    &:hover {
                        background: unset !important;
                        color: #4f4f4f;
                    }
                }
            }
            &::before {
                border-bottom: 1px solid rgba(0, 0, 0, 0.19);
            }
            .ant-tabs-nav-wrap {
                justify-content: center;

                padding-bottom: 40px;

                .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: unset;
                }
                .ant-tabs-tab {
                    z-index: 11111;
                    margin: 0;

                    &:hover {
                        color: unset;
                    }
                }
                .ant-tabs-ink-bar-animated {
                    transition: width 0.4s, height 0.4s, left 0.4s, right 0.4s;
                }
                .ant-tabs-ink-bar {
                    background: linear-gradient(
                        93.15deg,
                        rgb(199, 83, 154) -11.17%,
                        rgb(251, 62, 120) 48.61%,
                        #ff5369 96.45%
                    );
                    height: 100%;
                    border-radius: 9px;
                }
                .ant-tabs-nav-list {
                    height: 31px;
                    background: #f0eff0;
                    // padding: 0 5px 0 5px;
                    border-radius: 9px;
                }
                .first {
                    border-radius: 9px;
                }
                .last {
                    border-radius: 9px;
                }
            }
            .ant-tabs-tab {
                margin-bottom: 10px;
            }
            .ant-tabs-tab-active {
                .ant-tabs-tab-btn {
                    box-shadow: rgba(199, 83, 154, 0.45) 0px 22px 28px -9px;
                    .btn {
                        color: #ffffff;

                        // transition-delay: 1s;
                        // transition-property: color;
                        // transition: color 0.5s ease;
                        // animation: colorchange 0.6s;
                        // @keyframes colorchange {
                        //     50% {
                        //         color: rgba(79, 79, 79, 1);
                        //     }

                        //     100% {
                        //         color: #ffffff;
                        //     }
                        // }
                    }
                }
            }

            .btn {
                background: unset;
                color: rgba(79, 79, 79, 1);
                width: 119px;
                height: 31px;
                border: none;
                font-size: 12px;
                box-shadow: rgba(199, 83, 154, 0.45) 0px 25px 20px -20px !important;
                &:hover {
                    background: linear-gradient(93.15deg, #c7539a -11.17%, rgb(251, 62, 120) 48.61%, #ff5369 96.45%);
                    color: #ffffff;
                    border-radius: 9px;
                }
            }
        }
    }
}
.Event {
    .ant-tabs-nav {
        &::before {
            border: none !important;
        }
        // .ant-tabs-tab {
        // padding-bottom: 0px !important;
        // }
    }
}

.group_main {
    display: grid;
    width: 100%;
    // padding: 0 200px;

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(100px, 232px));
    // grid-template-columns: repeat(4, 232px);
    // grid-auto-rows: 1fr;
    grid-gap: 1rem;
}
