.mobile_toggel_wow {
    // display: none;
    // margin-top: 5px;
    visibility: hidden;
    .ant-menu::before {
        content: unset !important;
    }
    .ant-menu-horizontal::after {
        content: unset !important;
    }

    .ant-menu-horizontal {
        height: 65px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        line-height: 38px;
        border-bottom: none;
        li::after {
            border-bottom: none !important;
        }
        .ant-menu::before {
            display: none !important ;
            content: unset !important;
        }
        // ul {
        //     li {
        //         padding: unset !important;
        //     }
        // }
        .ant-menu-item {
            padding: 0;
        }
        // text-align: center;
        // .ant-menu-item {
        //     // position: fixed !important;
        //     // display: flex;
        //     // flex-direction: column;
        //     padding: 0 0 0 20px !important;
        //     margin: 20px 0 20px 0px !important;
        // }
        .icon {
            margin: 0 !important;
        }
        .ant-menu-item-selected {
            // background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);
            background: none !important;
            .toggelHome {
                background: linear-gradient(91.11deg, #fe5e71 -5.39%, #ff3951 104.71%);

                path {
                    fill: white;
                }
            }
            .toggelSearch {
                background: #f2bd6f;
                svg {
                    fill: white;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .mobile_toggel_wow {
        // display: inline !important;
        visibility: visible;
    }
}
