.article_editor {
    margin-top: 18px;
    .codex-editor {
        .ce-toolbar {
            .ce-toolbar__content {
                .ce-toolbar__plus {
                    color: red !important;
                }
                .ce-toolbox--opened {
                    li {
                        border: 1px solid #000;
                        margin: 5px;
                    }
                }
            }
        }
    }
}
