.article_editor {
    .codex-editor {
        .ce-toolbar {
            .ce-toolbar__content {
                .ce-toolbar__plus {
                    color: red !important;
                }
            }
        }
    }
}

.editorjs {
    width: 100%;
    height: 500px;
}
